In [2]:
import rpa as r
import pandas as pd

### Scrap page

Open the site and download the table as csv on data folder.

In [13]:
r.init()
r.url('https://leagueoflegends.fandom.com/wiki/List_of_champions/Base_statistics')
r.table("sortable wikitable sticky-header jquery-tablesorter", "../data/stats_table.csv")
r.close()

True

### Data normalization.

Read file as string

In [16]:
dataframe = pd.read_csv("../data/stats_table.csv", delimiter=",", dtype="string")
dataframe

,Champions,HP,HP+,HP5,HP5+,MP,MP+,MP5,MP5+,AD,AD+,AS,AS+,AR,AR+,MR,MR+,MS,Range
0,Aatrox,580,+90,3,+1,0,+0,0,+0,60,+5,0.651,+2.5%,38,+3.25,32,+1.25,345,175
1,Ahri,500,+82,2.5,+0.6,418,+25,8,+0.8,53,+3,0.668,+2%,18,+3.5,30,+0.5,330,550
2,Akali,500,+105,9,+0.9,200,+0,50,+0,62,+3.3,0.625,+3.2%,23,+3.5,37,+1.25,345,125
3,Akshan,560,+90,3.75,+0.65,350,+40,8.175,+0.7,52,+3.5,0.638,+4%,26,+3,30,+0.5,330,500
4,Alistar,600,+106,8.5,+0.85,350,+40,8.5,+0.8,62,+3.75,0.625,+2.125%,44,+3.5,32,+1.25,330,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Zeri,500,+90,3.25,+0.55,250,+45,6,+0.8,53,+2,0.658,+2%,22,+3,30,+0.5,325,500
157,Ziggs,536,+92,6.5,+0.6,480,+23.5,8,+0.8,54,+3.1,0.656,+2%,22,+3.3,30,+0.5,325,550
158,Zilean,504,+82,5.5,+0.5,452,+50,11.34,+0.8,52,+3,0.625,+2.13%,24,+3.8,30,+0.5,335,550
159,Zoe,560,+92,6.5,+0.6,425,+25,8,+0.65,58,+3.3,0.625,+2.5%,21,+3.5,30,+0.5,340,550
160,Zyra,504,+79,5.5,+0.5,418,+25,13,+0.4,53,+3.2,0.625,+2.11%,29,+3,30,+0.5,340,575

Remove the "+" and "%" from the string for future transformation to float

In [52]:
dataframe_replaced_signs = dataframe.replace(regex={"\\+": "", "\\%":""})
dataframe_replaced_signs

,Champions,HP,HP+,HP5,HP5+,MP,MP+,MP5,MP5+,AD,AD+,AS,AS+,AR,AR+,MR,MR+,MS,Range
0,Aatrox,580,90,3,1,0,0,0,0,60,5,0.651,2.5,38,3.25,32,1.25,345,175
1,Ahri,500,82,2.5,0.6,418,25,8,0.8,53,3,0.668,2,18,3.5,30,0.5,330,550
2,Akali,500,105,9,0.9,200,0,50,0,62,3.3,0.625,3.2,23,3.5,37,1.25,345,125
3,Akshan,560,90,3.75,0.65,350,40,8.175,0.7,52,3.5,0.638,4,26,3,30,0.5,330,500
4,Alistar,600,106,8.5,0.85,350,40,8.5,0.8,62,3.75,0.625,2.125,44,3.5,32,1.25,330,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Zeri,500,90,3.25,0.55,250,45,6,0.8,53,2,0.658,2,22,3,30,0.5,325,500
157,Ziggs,536,92,6.5,0.6,480,23.5,8,0.8,54,3.1,0.656,2,22,3.3,30,0.5,325,550
158,Zilean,504,82,5.5,0.5,452,50,11.34,0.8,52,3,0.625,2.13,24,3.8,30,0.5,335,550
159,Zoe,560,92,6.5,0.6,425,25,8,0.65,58,3.3,0.625,2.5,21,3.5,30,0.5,340,550
160,Zyra,504,79,5.5,0.5,418,25,13,0.4,53,3.2,0.625,2.11,29,3,30,0.5,340,575

Change the strings to float values
Removed the column champions to convert all the columns at once without listing it.
Inserted again the champion column on the dataframe with float values, and repositioned it to be the first column

In [53]:
dataframe_float_values = dataframe_replaced_signs[dataframe.columns.drop("Champions")].astype("float")
dataframe_float_values["Champions"] = dataframe["Champions"]
dataframe_float_values = dataframe_float_values[['Champions', 'HP', 'HP+', 'HP5', 'HP5+', 'MP', 'MP+', 'MP5', 'MP5+', 'AD', 'AD+', 'AS', 'AS+', 'AR', 'AR+', 'MR', 'MR+', 'MS', 'Range']]
dataframe_float_values

,Champions,HP,HP+,HP5,HP5+,MP,MP+,MP5,MP5+,AD,AD+,AS,AS+,AR,AR+,MR,MR+,MS,Range
0,Aatrox,580.0,90.0,3.00,1.00,0.0,0.0,0.000,0.00,60.0,5.00,0.651,2.500,38.0,3.25,32.0,1.25,345.0,175.0
1,Ahri,500.0,82.0,2.50,0.60,418.0,25.0,8.000,0.80,53.0,3.00,0.668,2.000,18.0,3.50,30.0,0.50,330.0,550.0
2,Akali,500.0,105.0,9.00,0.90,200.0,0.0,50.000,0.00,62.0,3.30,0.625,3.200,23.0,3.50,37.0,1.25,345.0,125.0
3,Akshan,560.0,90.0,3.75,0.65,350.0,40.0,8.175,0.70,52.0,3.50,0.638,4.000,26.0,3.00,30.0,0.50,330.0,500.0
4,Alistar,600.0,106.0,8.50,0.85,350.0,40.0,8.500,0.80,62.0,3.75,0.625,2.125,44.0,3.50,32.0,1.25,330.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Zeri,500.0,90.0,3.25,0.55,250.0,45.0,6.000,0.80,53.0,2.00,0.658,2.000,22.0,3.00,30.0,0.50,325.0,500.0
157,Ziggs,536.0,92.0,6.50,0.60,480.0,23.5,8.000,0.80,54.0,3.10,0.656,2.000,22.0,3.30,30.0,0.50,325.0,550.0
158,Zilean,504.0,82.0,5.50,0.50,452.0,50.0,11.340,0.80,52.0,3.00,0.625,2.130,24.0,3.80,30.0,0.50,335.0,550.0
159,Zoe,560.0,92.0,6.50,0.60,425.0,25.0,8.000,0.65,58.0,3.30,0.625,2.500,21.0,3.50,30.0,0.50,340.0,550.0
160,Zyra,504.0,79.0,5.50,0.50,418.0,25.0,13.000,0.40,53.0,3.20,0.625,2.110,29.0,3.00,30.0,0.50,340.0,575.0

Rename the columns with "+" to "_per_level" to improve the conotation.
Rename the columns to represent the real name (HP = Health, HP5 = Health Regeneration, MP = Mana, MP5 = Mana Regeneration, AD = Attack Damage, AS = Attack Speed, AR = Armor, MR = Magic Resist, MS = Movement Speed, Range = Attack Range, AS+ = Attack Speed percent)

In [58]:
dataframe_float_values_renamed = dataframe_float_values.rename(columns={"Champions": "champion", "HP":"health", "HP+":"health_per_level", "HP5": "health_regeneration", "HP5+": "health_regeneration_per_level", "MP": "mana", "MP+": "mana_per_level", "MP5": "mana_regeneration", "MP5+": "mana_regeneration_per_level", "AD":"attack_damage", "AD+":"attack_damage_per_level", "AS": "attack_speed", "AS+": "attack_speed_percent_per_level", "AR": "armor", "AR+": "armor_per_level", "MR": "magic_resist", "MR+": "magic_resist_per_level", "MS":"movement_speed", "Range": "basic_attack_range"})
dataframe_float_values_renamed

,champion,health,health_per_level,health_regeneration,health_regeneration_per_level,mana,mana_per_level,mana_regeneration,mana_regeneration_per_level,attack_damage,attack_damage_per_level,attack_speed,attack_speed_percent_per_level,armor,armor_per_level,magic_resist,magic_resist_per_level,movement_speed,basic_attack_range
0,Aatrox,580.0,90.0,3.00,1.00,0.0,0.0,0.000,0.00,60.0,5.00,0.651,2.500,38.0,3.25,32.0,1.25,345.0,175.0
1,Ahri,500.0,82.0,2.50,0.60,418.0,25.0,8.000,0.80,53.0,3.00,0.668,2.000,18.0,3.50,30.0,0.50,330.0,550.0
2,Akali,500.0,105.0,9.00,0.90,200.0,0.0,50.000,0.00,62.0,3.30,0.625,3.200,23.0,3.50,37.0,1.25,345.0,125.0
3,Akshan,560.0,90.0,3.75,0.65,350.0,40.0,8.175,0.70,52.0,3.50,0.638,4.000,26.0,3.00,30.0,0.50,330.0,500.0
4,Alistar,600.0,106.0,8.50,0.85,350.0,40.0,8.500,0.80,62.0,3.75,0.625,2.125,44.0,3.50,32.0,1.25,330.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Zeri,500.0,90.0,3.25,0.55,250.0,45.0,6.000,0.80,53.0,2.00,0.658,2.000,22.0,3.00,30.0,0.50,325.0,500.0
157,Ziggs,536.0,92.0,6.50,0.60,480.0,23.5,8.000,0.80,54.0,3.10,0.656,2.000,22.0,3.30,30.0,0.50,325.0,550.0
158,Zilean,504.0,82.0,5.50,0.50,452.0,50.0,11.340,0.80,52.0,3.00,0.625,2.130,24.0,3.80,30.0,0.50,335.0,550.0
159,Zoe,560.0,92.0,6.50,0.60,425.0,25.0,8.000,0.65,58.0,3.30,0.625,2.500,21.0,3.50,30.0,0.50,340.0,550.0
160,Zyra,504.0,79.0,5.50,0.50,418.0,25.0,13.000,0.40,53.0,3.20,0.625,2.110,29.0,3.00,30.0,0.50,340.0,575.0

Save again the file to the data folder as csv, and delimiter ";"

In [61]:
dataframe_float_values_renamed.to_csv("../data/normalized_stats_table.csv", sep=",", index=False, header=True)